<!DOCTYPE html>
<html>
    <head>
        <html lang ="eng">
        <meta charset="UTF-8">
        <title>Game</title>
        <link rel="stylesheet" type="text/css" href="/CSS/game.css">
        <link rel="stylesheet" type="text/css" href="/CSS/global.css">
    </head>
<body class="background"> 
    <div class="bdyRes">
        <div class="outter">
            <div class="middle">
                <div class="inner">
                  <div id="gameContainer"></div>  
                </div>
            </div>
        </div>
    </div>           

<script src="JS/game.js"></script>
<script src="JS/global.js"></script>
</body>
</html>
