<!DOCTYPE html>
<html>
    <head>
        <html lang ="eng">
        <meta charset="UTF-8">
        <title>The Oregon Trail</title>
        <link rel="stylesheet" type="text/css" href="/CSS/index.css">
        <link rel="stylesheet" type="text/css" href="/CSS/global.css">
    </head>
<body class="background">  
    <div class="bdyRes">
        <div class="outter">
             <div class="middle">
                <div class="inner">
                  <p>The Oregon Trail</p>
                  <p id ="spcBttn">Press Spacebar to Continue</p>
                </div>
            </div>
        </div>
    </div>           

<script src="JS/index.js"></script>
<script src="JS/global.js"></script>
</body>
</html>





