<!DOCTYPE html>
<html>
    <head>
        <html lang ="eng">
        <meta charset="UTF-8">
        <title>Main Menu</title>
        <link rel="stylesheet" type="text/css" href="/CSS/mainMenu.css">
        <link rel="stylesheet" type="text/css" href="/CSS/global.css">
    </head>
<body class="background">
    <div class="bdyRes">
        <div class="outter">
             <div class="middle">
                <div class="inner">
                  <div class="banner"><img src="/images/mainMenu.jpg" alt="Banner"></div>
                  <div id="menuItems">
                     <p id="travelOption">1. Travel the Trail</p>
                     <p id="learnOption">2. Learn about the Trail</p>					
                     <p id="topTenOption">3. See the Oregon Top Ten</p>
                     <p id="soundMenu">4. Turn Sound OFF</p>
                     <p id="pressKey">Press a Key to Select an Option</p>
                   </div>                	
                </div>
            </div>
        </div>
    </div>           

<script src="JS/mainMenu.js"></script>
<script src="JS/global.js"></script>
</body>
</html>
