<!DOCTYPE html>
<html>        
    <head> 
        <html lang = "eng">   
        <meta charset = "UTF-8">            
        <title>The Oregon Top Ten</title>
        <link rel = "stylesheet" type="text/css" href = "/CSS/topTen.css">
        <link rel="stylesheet" type ="text/css" href="/CSS/global.css"> 
    </head>
<body> 
    <div class="outter">
        <div class="middle">
            <div class="inner">
                <div id = "Banner"><img src = "/images/topTen.jpg"></div>
                <div class="plcTable"><div id="myTable"></div></div>        
                <p id = "myBttn">Press Spacebar to return to Main Menu</p>
            </div>
        </div>
    </div>

<script src = "/JS/topTen.js"></script>
<script src = "/JS/global.js"></script>
</body>
</html>